<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/featured/?houses);">
  <div class="container">
    <h1>Simple <strong>Airbnb</strong></h1>
  </div>
</div>

<h1></h1>

<div class="container">
  <div class="row">

        <% @flats.each do |flat| %>

            <div class="col-4 py-2">
            <div class="card-trip">
            <img src="https://source.unsplash.com/featured/?living room" />
              <div class="card-trip-infos">
                <div>
                  <h2> <%= flat.name %></h2>
                  <p><%= flat.address %></p>
                  <p> <%= flat.number_of_guests %> <i class="fas fa-users"></i></p>
                </div>
                <h2 class="card-trip-pricing"><%= flat.price_per_night %></h2>
              </div>
              <div>
                <p class="text-center"><%= link_to 'more infos', flat_path(flat) %></p>
              </div>
            </div>
          </div>

        <% end %>

  </div>
</div>
